<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around top"
     fxLayoutGap="10px" 
     fxLayoutGap.xs="0">

        <div fxFlex="40"  *ngIf="dish" [@visibility] = "visibility">
          <mat-card >
            <mat-card-header>
                <mat-card-title>
                    <h3 >{{ dish.name | uppercase }}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{baseURL + dish.image }}" alt="{{ dish.name }}">
            <mat-card-content>
                <p>{{ dish.description }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [routerLink]="['/dishdetail', prev]" >
                    <span class="fa fa-chevron-left fa-lg"></span>
                </button>
                <button mat-button (click)="goBack()">BACK</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <span class="flex-spacer"></span>
                <button mat-button [routerLink]="['/dishdetail', next]" >
                    <span class="fa fa-chevron-right fa-lg"></span>
                </button>
            </mat-card-actions>
            </mat-card>
        </div>
        
        <div fxFlex="40" *ngIf="dish" [@visibility] = "visibility" >
            <h1>Comments</h1>
            <mat-list *ngFor="let comment of dish.comments" >
                <mat-list-item>
                   <h3 matLine>{{ comment.comment }}</h3>
                   <p matLine>
                       <span matLine>{{ comment.rating }} Stars </span>
                       <span>-- {{ comment.author }} </span>
                       <span>{{ comment.date | date }} </span>
                   </p>
                </mat-list-item>
            </mat-list>

            <mat-list>
                <mat-list-item *ngIf="ratingForm.value.date">
                   <h3 matLine> {{ ratingForm.value.comment }}</h3>
                   <p matLine>
                       <span matLine> {{ ratingForm.value.rating }} Stars </span>
                       <span>{{ ratingForm.value.author }}</span>
                       <span>{{ ratingForm.value.date}} </span> 
                   </p>
                </mat-list-item>
            </mat-list>

            <!-- this where my code starts -->

            <!-- this list is for the preview -->
            <mat-list>
                <mat-list-item *ngIf="ratingForm.valid">
                   <h3 matLine> {{ ratingForm.value.comment }}</h3>
                   <p matLine>
                       <span matLine> {{ ratingForm.value.rating }} Stars </span>
                       <span>{{ ratingForm.value.author }}</span>
                       <!-- <span>{{ comment.date | date }} </span> --> 
                   </p>
                </mat-list-item>
            </mat-list>
            
            <!-- <p>{{ ratingForm?.value | json }} {{ ratingForm?.status | json}}</p> -->

            <!-- this is the form I added -->
            <form novalidate style="display: grid;" [formGroup]="ratingForm">
                <mat-form-field  class="half-width" appearance="legacy"> 
                    <input matInput placeholder="Author" formControlName="author" type="text" required>
                    <mat-error *ngIf="ratingForm?.get('author')?.hasError('required') && ratingForm?.get('author')?.touched">
                        Author is required.
                    </mat-error>
                    <mat-error *ngIf="ratingForm?.get('author')?.hasError('minlength') && ratingForm?.get('author')?.dirty">
                        Name is too short.
                    </mat-error>
                </mat-form-field>

                <mat-slider min="1" max="5" step="1" value="5" [thumbLabel]="thumbLabel" formControlName="rating" ></mat-slider>
                <mat-error *ngIf="ratingForm?.get('rating')?.hasError('required')">
                    Rating is required.
                </mat-error>
                
                <mat-form-field  class="half-width" appearance="legacy"> 
                    <textarea matInput placeholder="Comment" formControlName="comment" type="text" cols="10" rows="10" required></textarea>
                    <mat-error *ngIf="ratingForm?.get('comment')?.hasError('required') && ratingForm?.get('comment')?.touched">
                        Comment is required.
                    </mat-error>
                    <mat-error *ngIf="ratingForm?.get('comment')?.hasError('required') && ratingForm?.get('comment')?.touched">
                        Comment is required.
                    </mat-error>
                </mat-form-field>
                    
                <button type="submit" mat-raised-button 
                    class="background-primary text-floral-white"
                    (click)="ratingFormSubmitted()"
                    [disabled]="ratingForm?.invalid">
                    Submit 
                </button>

            </form>

            <!-- until here -->

        </div>
        
        <div fxFlex [hidden]="dish || errMess">
            <mat-spinner style="margin:25px auto;"></mat-spinner> 
              <div style="text-align: center;">
                <h4>Loading ... Please Wait</h4>   
            </div>     
        </div>
        
        <div fxFlex *ngIf="errMess">
            <h2>Error</h2>
            <h4>{{ errMess }}</h4>  
        </div>
</div> 


