mat-grid-tile {
    // background: linear-gradient(rgba(0,0,0, 0.1), rgba(0,0,0, 0.4));
    display: flex;
    justify-content: flex-start;
}

mat-grid-tile-footer {
    display: flex;
    justify-content: flex-start;
}


