<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>Contact Us</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <h3>Location Information</h3> 
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Our Address</h4>
        <address>
          121, Clear Water Bay Road<br>
          Clear Water Bay, Kowloon<br>
          HONG KONG<br>
          <i class="fa fa-phone"></i>: +852 1234 5678<br>
          <i class="fa fa-fax"></i>: +852 8765 4321<br>
          <i class="fa fa-envelope"></i>: 
                <a href="mailto:confusion@food.net">confusion@food.net</a>
        </address>
        <p></p>
        <div>
          <a mat-raised-button href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
          <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
          <a mat-raised-button href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
        </div>
        </div>
      <div fxFlex="40">
        <h4>Map of our Location</h4>
      </div>
    </div>    
  </div>
  
  <div fxFlex fxFlexOffset="20px" class="form-size">
    <h3>Send us your Feedback</h3>
    <!-- <p>{{ feedbackForm?.value | json }} {{ feedbackForm?.status | json}}</p> -->
    
    
    <form novalidate [formGroup]="feedbackForm"  #fform="ngForm" (ngSubmit)="onSubmit()" [hidden]="feedbackcopy">
      
      <mat-form-field  class="half-width" appearance="legacy"> 
          <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
          <!-- <mat-error *ngIf="feedbackForm?.get('firstname')?.hasError('required') && feedbackForm?.get('firstname')?.touched">
            First name is required.
          </mat-error> -->
          <mat-error *ngIf="formErrors.firstname">
            {{ formErrors.firstname }}
          </mat-error>
      </mat-form-field>
        
        <mat-form-field  class="half-width" appearance="legacy">
          <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
          <!-- <mat-error *ngIf="feedbackForm?.get('lastname')?.hasError('required') && feedbackForm?.get('lastname')?.touched">
            Last name is required.
          </mat-error> -->
          <mat-error *ngIf="formErrors.lastname">
            {{ formErrors.lastname }}
          </mat-error>
        </mat-form-field>
        
        <mat-form-field  class="half-width" appearance="legacy">
          <input matInput formControlName="telnum" placeholder="Telephone Nr" type="tel" pattern="[0-9]*" required>
          <!-- <mat-error *ngIf="feedbackForm?.get('telnum')?.hasError('required') && feedbackForm?.get('telnum')?.touched">
            Phone number is required.
          </mat-error> -->
          <mat-error *ngIf="formErrors.telnum">
            {{ formErrors.telnum }}
          </mat-error>
        </mat-form-field>
        
        <mat-form-field  class="half-width" appearance="legacy">
          <input matInput formControlName="email" placeholder="Email" type="email" email required>
          <!-- <mat-error *ngIf="feedbackForm?.get('email')?.hasError('required') && feedbackForm?.get('email')?.touched">
            Email is required.
          </mat-error> -->
          <mat-error *ngIf="formErrors.email">
            {{ formErrors.email }}
          </mat-error>
        </mat-form-field>
   
        <table class="form-size">
          <td>
            <mat-slide-toggle matInput formControlName="agree" >
              May we contact you?
            </mat-slide-toggle>
          </td>
          <td>
            <mat-select matInput placeholder="How?" formControlName="contacttype" required>
              <mat-option  *ngFor="let ctype of contactType" [value]="ctype">
                {{ ctype }}
              </mat-option>   
          </mat-select>
        </td>
      </table>
      
      <mat-form-field class="full-width" appearance="legacy">
        <textarea matInput formControlName="message" cols="20" rows="12" placeholder="Your Feedback:" required> 
        </textarea>
      </mat-form-field>
      
      <button type="submit" mat-raised-button 
              class="background-primary text-floral-white"
              [disabled]="feedbackForm?.invalid"
              (click)="submitFeedback();"
              > 
              Submit 
      </button>
    </form>
  
  </div>

  <div fxFlex [hidden]="!feedbackcopy">
    <mat-spinner style="margin:25px auto;"></mat-spinner> 
      <div style="text-align: center;">
        <h4>Loading ... Please Wait</h4>   
    </div>     
  </div>
 
  <div fxFlex [hidden]="!feedbackcopy" >
    <div style="text-align: center;">
        <h3>Your Submission:</h3>
        <p>Firstname: {{ feedbackcopy?.firstname }}</p>   
        <p>Lastname: {{ feedbackcopy?.lastname }}</p>   
        <p>Telnum: {{ feedbackcopy?.telnum }}</p>   
        <p>Email: {{ feedbackcopy?.email }}</p>   
        <p>Agree to contact? {{ feedbackcopy?.agree }}</p>   
        <p>Contact type? {{ feedbackcopy?.contacttype }}</p>   
    </div>     
  </div>

  

</div>