<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="50px"
[style.margin]="'50px'" 
>

<mat-card *ngIf="dish" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{dish.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{baseURL + dish.image}}" alt={{dish.name}}>
    <mat-card-content>
      <p>{{dish.description}}
      </p>
    </mat-card-content>
  </mat-card>
  
  <div fxFlex [hidden]="dish || dishErrMess">
    <mat-spinner style="margin:0px auto;"></mat-spinner> 
    <div style="text-align: center;">
      <h4>Loading ... Please Wait</h4>   
    </div>     
  </div>
  
  <div fxFlex *ngIf="dishErrMess">
    <h2>Error</h2>
    <h4>{{ dishErrMess }}</h4>  
  </div>    
  

  <mat-card *ngIf="promotion" fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{promotion.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{baseURL + promotion.image}}" alt={{promotion.name}}>
    <mat-card-content>
      <p>{{promotion.description}}
      </p>
    </mat-card-content>
  </mat-card>

  <div fxFlex [hidden]="promotion || promoErrMess">
    <mat-spinner style="margin:0px auto;"></mat-spinner> 
      <div style="text-align: center;">
        <h4>Loading ... Please Wait</h4>   
      </div>     
  </div>

  <div fxFlex *ngIf="promoErrMess">
    <h2>Error</h2>
    <h4>{{ promoErrMess }}</h4>  
  </div> 


  <mat-card *ngIf="leader" fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{leader.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{baseURL + leader.image}}" alt={{leader.name}}>
    <mat-card-content>
      <p>{{leader.description}}
      </p>
    </mat-card-content>
  </mat-card>

  <div fxFlex [hidden]="leader || leaderErrMess">
    <mat-spinner style="margin:0px auto;"></mat-spinner> 
      <div style="text-align: center;">
        <h4>Loading ... Please Wait</h4>   
      </div>     
  </div>

  <div fxFlex *ngIf="leaderErrMess">
    <h2>Error</h2>
    <h4>{{ leaderErrMess }}</h4>  
  </div> 
</div>
